aiohttp==3.4.4
aiopg==0.15.0
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.2.1
attrs==18.2.0
chardet==3.0.4
idna==2.7
idna-ssl==1.1.0
jsonschema==2.6.0
more-itertools==4.3.0
multidict==4.4.2
pluggy==0.8.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
py==1.7.0
pytest==3.10.0
pytest-aiohttp==0.3.0
six==1.11.0
SQLAlchemy==1.2.13
yarl==1.2.6
